<!DOCTYPE html>
<html ng-app="geoCode">
<meta charset="UTF-8">
  <head>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/firebase/firebase.js"></script>
    <script src="/bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="/bower_components/lodash/lodash.min.js"></script>
    <script src="/bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>
  <div>
      <div ng-controller="GetGeoCode as gc" class="container-fluid">
      	<h1>Søg lokation</h1>
      	<form class="form-inline">
      	<div class="input-group">
      		<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-pushpin"></i></span>
			<input type="text" class="form-control" placeholder="Addresse" id="address" ng-model="geo.address" ng-enter="update(geo)" equired aria-describedby="basic-addon1"/>
		</div>
      	<button class="btn btn-default" ng-click="update(geo)"><i class="glyphicon glyphicon-search"></i> Søg</button>
      	</form>
      	</br>
      	<div class="panel panel-default">
      		<div class="panel-heading">Koordinater</div>
      		<div class="panel-body">
      			<p>{{coordinates}}</p>
      		</div>
      	</div>
      </div>
	</div>

	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7098.94326104394!2d78.0430654485247!3d27.172909818538997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1385710909804" width="600" height="450" frameborder="0" style="border:0"></iframe>
  </body>
</html>