<!DOCTYPE html>
<html ng-app="geoCode">
<meta charset="UTF-8">
  <head>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/firebase/firebase.js"></script>
    <script src="/bower_components/angularfire/dist/angularfire.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>
  <div>
      <div ng-controller="GetGeoCode as gc" class="container-fluid">
      	<h1>Søg lokation</h1>
      	<form class="form-inline">
      	<div class="input-group">
      		<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-pushpin"></i></span>
			<input type="text" class="form-control" placeholder="Addresse" id="address" ng-model="geo.address" ng-enter="update(geo)" equired aria-describedby="basic-addon1"/>
		</div>
      	<button class="btn btn-default" ng-click="update(geo)"><i class="glyphicon glyphicon-search"></i> Søg</button>
      	</form>
      	</br>
      	<div class="panel panel-default">
      		<div class="panel-heading">Koordinater</div>
      		<div class="panel-body">
      			<p>{{coordinates}}</p>
      		</div>
      	</div>
      </div>
	</div>
  </body>
</html>